.section-news-content {
  width: 76.1467%;
  padding-bottom: 63px;
  h1 {
    font-size: 44px;
    @extend .normal-font-style500;
    color: #000;
    margin-bottom: 1.09em;
    z-index: 2;
  }
}
.news-item-card {
  margin-bottom: 2rem;
  max-width: 467px;
  text-decoration: none;
  .news-item-pic {
    width: 100%;
    margin-bottom: 28px;
    overflow: hidden;
    border-radius: 32px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      background-color: #000;
      opacity: 0;
      transition: 0.5s ease 0.2s;
    }
    &:hover::after {
      opacity: 0.3;
    }
    img {
      width: 100%;
      vertical-align: middle;
    }
    @extend .hover-black-bg;
  }
  .news-item {
    flex-shrink: 0;
    .news-item-date {
      width: 24%;
      padding: 0 1.042vw 1.7708vw 0;
      @extend .colors-words;
      @extend .normal-font-style500;
      .date-day {
        font-size: 56px;
      }
      .month-year {
        font-size: 16px;
      }
    }
    .news-content {
      width: 76%;
      border-left: 1px solid #acacac;
      padding-left: 23px;
      .news-content-title {
        h2 {
          color: #000;
          font-size: 20px;
          @extend .normal-font-style500;
          margin-bottom: 0.4em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .news-content-text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        p {
          color: #000;
          font-size: 18px;
          @extend .normal-font-style400;
          line-height: 1.4;
        }
      }
    }
  }
}

.pages-pagination {
  .pagination-btns {
    transform: translateX(15%);
    justify-content: space-between;
    .pagination-item {
      background-color: transparent;
      border: 1px solid #0ab4c8;
      font-size: 20px;
      @extend .normal-font-style500;
      color: #0ab4c8;
      text-decoration: none;
      border-radius: 50px;
      padding: 10px 16px;
      & + .pagination-item {
        margin-left: 1rem;
      }
      object-fit: cover;
      &:hover {
        background-color: #4fa9ff;
        color: #fff;
        border: 1px solid #4fa9ff;
      }
    }
  }
  .pages-select {
    label {
      font-size: 20px;
      color: #000;
      @extend .normal-font-style500;
      flex-shrink: 0;
      margin-right: 16px;
    }
    .form-select {
      width: 70px;
      height: 39px;
      border: 1px solid #000;
    }
  }
}
@media (max-width: 1500px) {
  .section-news-content {
    width: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    h1 {
      font-size: 25px;
      margin: auto;
      margin-bottom: 2rem;
    }
  }
  .news-item-card {
    margin-bottom: 2rem;
    max-width: 467px;
    .news-item-pic {
      width: 100%;
      margin-bottom: 28px;
      border-radius: 22px;
    }
    .news-item {
      flex-shrink: 0;
      .news-item-date {
        width: 29%;
        padding: 0;
        padding-right: 18px;
        .date-day {
          font-size: 48px;
        }
        .month-year {
          font-size: 13px;
        }
      }
      .news-content {
        width: 71%;
        padding-left: 18px;
        .news-content-title {
          h2 {
            font-size: 16px;
            margin-bottom: 0.4em;
          }
        }
        .news-content-text {
          p {
            font-size: 15px;
            line-height: 1.4;
          }
        }
      }
    }
  }
  .pages-pagination {
    .pagination-btns {
      width: 100%;
      justify-content: center;
      transform: translateX(0%);
      .pagination-item {
        font-size: 16px;
        padding: 0.625em 0.625em;
        & + .pagination-item {
          margin-left: 4px;
        }
        object-fit: cover;
      }
    }
    .pages-select {
      position: relative;
      margin: auto;
      margin-top: 48px;
      label {
        font-size: 20px;
        margin-right: 16px;
      }
      .form-select {
        width: 70px;
        height: 39px;
      }
    }
  }
}
@media (max-width: 500px) {
  .pages-pagination {
    .pages-select {
      label {
        font-size: 15px;
      }
      .form-select {
        width: 84px;
        height: 35px;
      }
    }
  }
}
